:root {
  --bg-clr: #020204;
  --txt-main: #e2d3ddea;
  --txt-secondary: #dcc7d5c4;
  --columbia-blue: #c7d6dbff;

  --misty-rose: #ecced1ff;
  --cordovan: rgb(129, 52, 64);
  --eminence: #692c7eff;
  --oxford-blue: #08192fff;
  --mountbatten-pink: #a58292ff;
  --quinacridone-magenta: #8b3767ff;
  --moonstone: #009ea9ff;
  --chestnut: #a4463aff;
  --chestnut50: #ffffff70;
  --timberwolf: #d9d5d8ff;
  --melon: #f2a698ff;
  --french-gray: #bbb9c6ff;
  --columbia-blue-opa: #c7d6db60;
  /* 
  --primary-clr: rgba(255, 255, 255, 0.208); */
  --glitch-1: #009ea960;
  --glitch-2: #8b376780;
  --glitch-3: rgb(201, 90, 71);

  /*    MARGIN    */
  --outer-margin: 6vw;

  /*    FONT SIZE   */
  --fs-100: 1.2rem;
  --fs-200: 1.6rem;
  --fs-300: 1.8rem;
  --fs-400: 2.2rem;
  --fs-500: 2.4rem;
  --fs-600: 3.2rem;
  --fs-700: 4.8rem;
  --fs-800: 7.7rem;
}

@media screen and (1200px <= width < 1440px) {
  :root {
    --fs-500: 2rem;
  }
}

@media screen and (560px <= width < 1200px) {
  :root {
    --fs-400: 2rem;
    --fs-500: 1.8rem;
    --fs-800: 6rem;
  }
}

@media screen and (width < 560px) {
  :root {
    /*    FONT SIZE   */
    --fs-100: 1.4rem;
    --fs-200: 1.6rem;
    --fs-300: 1.8rem;
    --fs-400: 2rem;
    --fs-500: 2.4rem;
    --fs-600: 3.2rem;
    --fs-700: 4rem;
    --fs-800: 6rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-clr);
  color: var(--txt-main);
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: unset;
}

/*      LOADING SCREEN      */

.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-clr);
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out;
}

.nav__logo--loading {
  font-size: 3.2rem;
  font-family: anybody;
  font-weight: 300;
  height: 5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: opacity 1s ease, color 0.8s ease;
  letter-spacing: 5px;
  cursor: default;
}

.logo__x--loading {
  font-size: 5rem;
  background: conic-gradient(from 145deg at center, var(--bg-clr) 245deg, rgba(0, 0, 0, 0) 0);
  z-index: 2;
  transition: font-size 0.5s ease, font-weight 1s ease, transform 1s ease-out;
}

.logo__rest--loading {
  transform: translateX(-115%);
  transition: transform 1s ease;
}

.x--maximize {
  font-size: 1500rem;
  font-weight: 900;
  transform: rotate(45deg);
}

.opacity-zero {
  opacity: 0;
}

.color-fade {
  color: var(--eminence);
}

.color-dark {
  color: var(--chestnut);
}
/*------------------------------*/

.container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

/*                 NAVBAR                     */

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 3em var(--outer-margin) 3em var(--outer-margin); 
  background-color: #020204b4; /*  ADD LINEAR GRADIENT TOP TO BOTTOM OPACITY    */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 777;
}
/*       NAV__LOGO      */

.nav__logo {
  font-size: var(--fs-600);
  font-family: anybody;
  font-weight: 300;
  height: 5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  letter-spacing: 5px;
}

.logo__x {
  font-size: 5rem;
  background: conic-gradient(from 145deg at center, var(--bg-clr) 245deg, rgba(0, 0, 0, 0) 0);
  z-index: 2;
  transition: font-size 1s ease;
}

.logo__rest {
  transform: translateX(-115%);
  transition: transform 1s ease;
}

.resize-x {
  font-size: 3.2rem;
}

.expand--logo {
  transform: translateX(0%);
}

/*   NAV__ITEMS   */

.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: var(--fs-500);
  font-family: anybody;
  font-weight: 400;
  list-style-type: none;
  letter-spacing: 3px;
}

.nav__item {
  position: relative;
  padding: 1rem;
}

/* bottom */

.nav__item::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: -4px;
  bottom: 2px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--txt-main) 10%, #6d6d6d 40%, var(--bg-clr));
  transition: transform 0.3s ease;
  transform: scale(0);
  transform-origin: left center;
}

.nav__item:hover::after {
  transform: scale(1);
}

.nav__item--active::after {
  transform: scale(1);
  background: linear-gradient(to right, #a97099 10%, #5a2d61 40%, var(--bg-clr));
}

/* left */

.nav__item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  left: -4px;
  bottom: 2px;
  border-radius: 10px;
  background: linear-gradient(to top, var(--txt-main) 10%, #6d6d6d 50%, var(--bg-clr));
  transition: transform 0.3s ease, opacity 2s ease;
  transform: scale(0);
  transform-origin: bottom center;
}

.nav__item:hover::before {
  transform: scale(1);
}

.nav__item--active::before {
  transform: scale(1);
  background: linear-gradient(to top, #a97099 10%, #5a2d61 50%, var(--bg-clr));
}

/*      MAIN      */

.main-sticky-support{
  top: 0;
  position: relative;
  height: 150vh;
}

main {
  margin: 4rem 0 0 var(--outer-margin);
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: sticky;
  top: 4rem;
}

.main__left {
  position: relative;
  /* padding-left: 15rem; */
  font-family: anybody;
  font-size: 1.8rem;
  color: rgb(131, 118, 127);
  display: flex;
  flex-direction: column;
  height: 400px;
}

.main-headings {
  position: relative;
  background-image: linear-gradient(to right, var(--bg-clr) 205px, #ffffff00 30%);
  z-index: 1;
  height: 250px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-headings::-webkit-scrollbar {
  display: none;
}

.main__left h1 {
  font-size: var(--fs-800);
  font-weight: 400;
  cursor: default;
  z-index: 2;
  color: var(--txt-main);
}

.sub-heading {
  position: relative;
  padding-top: 1em;
  font-size: var(--fs-400);
  font-weight: 300;
  letter-spacing: 2px;
  cursor: default;
  z-index: 2;
  color: var(--txt-main);
  color: rgb(182, 145, 201);
}

.h3-underlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-clr);
  width: 205px;
  height: 90px;
  z-index: -1;
  display: none;
}

.main__right {
  width: max(900px, 100vw);
  height: auto;
}

.main__video {
  width: 100%;
  min-width: 755px;
  height: 100%;
  object-fit: contain;
}

/*      MAIN__BTN     */
.tickets-btn {
  font-size: var(--fs-400);
  margin-top: 3rem;
  margin-left: 3px;
  background-color: #ffffff00;
  color: var(--columbia-blue-opa);
  letter-spacing: 3px;
  border: solid 1px var(--columbia-blue-opa);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  transform: translateY(-200%);
  transition: transform 1.6s ease, margin 1s ease, font-size 1s ease;
  z-index: 0;
  align-self: auto;
}

.tickets-btn-show {
  transform: translateY(1rem);
}
.tickets-btn:hover {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 6px;
  /* color: #a6c9d1ba; */
  color: var(--columbia-blue);
  cursor: pointer;
  margin-left: 20px;
}

/* event setting */

.event__date{
  margin-top: 16rem;
  font-size: var(--fs-700);
  color: var(--txt-secondary)
}

.event__address{
  position: absolute;
  font-family: "Kode Mono";
  /* color: rgb(182, 145, 201); */
  color: rgb(69, 124, 126);
  width: 60rem;
  padding-bottom: 6rem;
  margin-top: 2rem;
}

.address-line {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  width: 80%;
}

.address-line-2 {
  width: 70%;
}

.address-line-3 {
  width: 60%;
}

.address-line h3 {
  position: absolute;
  padding-right: 1rem;
  /* padding-top: 0; */
  font-size: var(--fs-400);
  background-color: var(--bg-clr);
  z-index: 1;
}

.arrows-box {
  display: flex;
  align-items: center;
  font-size: var(--fs-500);
  overflow: hidden;
  height: 3rem;
  opacity: 30%;
}

.arrows-left {
  animation: scrollTextReverse 4s linear infinite;
  /* color: var(--glitch-1); */
}

.arrows-right {
  animation: scrollText 4s linear infinite;
  /* color: var(--glitch-1); */
}

/*      Lineup Section      */

.section__lineup{
  position: absolute;
  top: 0;
  left: 0;
  width: 88vw;
  margin: var(--outer-margin);
  margin-top: 0;
  height: 300vh; /*            ADJUST LATER !*/
  display: flex;
  justify-content: center;
  z-index: 888;
}

.falling-man{
  position: sticky;
  width: 100px;
  height: 200px;
  top: 0;
  transform: translate3d(0, -30rem, 0);
}

/*          -----            */
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollTextReverse {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100%);
  }
}

@keyframes glitch {
  0% {
    text-shadow: -0.04em 0.04em 0 var(--glitch-1), 0.06em -0.04em 0 var(--glitch-2), -0.08em 0.02em 0 var(--glitch-3);
    box-shadow: -0.08em 0.02em 0 var(--glitch-1), 0.06em -0.04em 0 var(--glitch-2), -0.04em 0.02em 0 var(--glitch-3);
  }
  15% {
    /* text-shadow: 0.04em -0.04em 0 var(--glitch-1), -0.06em 0.04em 0 var(--glitch-2), 0.04em -0.02em 0 var(--glitch-3); */
    box-shadow: 0.08em -0.02em 0 var(--glitch-1), -0.06em 0.04em 0 var(--glitch-2), 0.04em -0.02em 0 var(--glitch-3);
  }
  50% {
    /* text-shadow: -0.02em 0.02em 0 var(--glitch-1), 0.02em -0.02em 0 var(--glitch-2), -0.03em 0.03em 0 var(--glitch-3); */
    box-shadow: -0.02em 0.04em 0 var(--glitch-1), 0.04em -0.06em 0 var(--glitch-2), -0.02em 0.02em 0 var(--glitch-3);
  }
  100% {
    text-shadow: 0.02em -0.02em 0 var(--glitch-1), -0.02em 0.02em 0 var(--glitch-2), 0.03em -0.03em 0 var(--glitch-3);
    box-shadow: 0.04em -0.04em 0 var(--glitch-1), -0.04em 0.04em 0 var(--glitch-2), 0.02em -0.02em 0 var(--glitch-3);
  }
}

.glitch {
  animation: glitch 6000ms infinite;
}

@media screen and (560px <= width < 1440px) {
  .main__left {
    width: 40vw;
    z-index: 1;
  }

  .main-headings {
    background-color: #ffffff00;
    min-width: 52rem;
  }

  .main__right {
    overflow: hidden;
    margin-left: -10vw;
    width: 60vw;
  }

  .main__video {
    width: 755px;
    left: 0;
    object-fit: cover;
  }
}

@media screen and (width < 1060px) {
  .nav__items {
    display: none;
  }
}

@media screen and (width < 560px) {
  .nav__items {
    display: none;
  }

  main {
    left: 0;
    margin-left: 0;
    overflow: visible;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.813) 20%, rgba(0, 0, 0, 0) 46%);
  }

  .main__left {
    position: absolute;
    /* display: none; */
    align-self: flex-start;
    left: var(--outer-margin);
    margin-top: 56rem;
  }

  .main-headings {
    background-color: #ffffff00;
    min-width: 30rem;
  }

  .main-headings h1 {
    position: absolute;
    margin-top: -54rem;
    margin-left: -6vw;
    padding-left: 6vw;
    padding-bottom: 6rem;
  }

  .h3-underlay::before {
    display: block;
  }

  .main__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
  }

  .main__video {
    width: 755px;
    margin-left: -4rem;
    object-fit: cover;
    margin-top: 8rem;
    z-index: -1;
  }

  /* .tickets-btn {
    position: absolute;
    margin-top: -34rem;
  } */
}

/* break again at around 480 width and make the image crop from left*/
